@model OtoServisSatis.Entities.Zimmet

@{
    ViewData["Title"] = "Zimmet Gir";
}

<h1>Create</h1>

<h4>Zimmet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="DemirbasId" class="control-label"></label>
                <select asp-for="DemirbasId" class ="form-select" asp-items="ViewBag.DemirbasId"></select>
            </div>

            <div class="form-group">
                <label asp-for="MusteriId" class="control-label"></label>
                <select asp-for="MusteriId" class="form-select" asp-asp-items="ViewBag.MusteriId"></select>
            </div>

            <div class="form-group">
                <label asp-for="ZimmetTarihi" class="control-label"></label>
                <input asp-for="ZimmetTarihi" class="form-control" />
                <span asp-validation-for="ZimmetTarihi" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Zimmet Gir" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Vazgeç</a>
</div>

