@model OtoServisSatis.Entities.Kategori

@{
    ViewData["Title"] = "Yeni Kategori";
}

<h2>Yeni Kategori Ekle</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Adi" class="control-label"></label>
        <input asp-for="Adi" class="form-control" />
        <span asp-validation-for="Adi" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
    <a asp-action="Index" class="btn btn-secondary">Geri</a>
</form>
