@model OtoServisSatis.Entities.Kategori

@{
    ViewData["Title"] = "Kategori Sil";
}

<h2>Bu kategori silinecek: @Model.Adi</h2>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />

    <button type="submit" class="btn btn-danger">Evet, Sil</button>
    <a asp-action="Index" class="btn btn-secondary">Vazgeç</a>
</form>
