@model OtoServisSatis.Entities.Demirbas

@{
    ViewData["Title"] = "Demirbas Ekle";
}

<h1>Demirbas Ekle</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="UrunTipi" class="control-label"></label>
                <input asp-for="UrunTipi" class="form-control" />
                <span asp-validation-for="UrunTipi" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MarkaId" class="control-label"></label>
                <select asp-for="MarkaId" class="form-select" asp-items="ViewBag.MarkaId"></select>

            </div>
            <div class="form-group">
                <label asp-for="Kategori" class="control-label"></label>
                <input asp-for="Kategori" class="form-control" />
                <span asp-validation-for="Kategori" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeriNo" class="control-label"></label>
                <input asp-for="SeriNo" class="form-control" />
                <span asp-validation-for="SeriNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FaturaNo" class="control-label"></label>
                <input asp-for="FaturaNo" class="form-control" />
                <span asp-validation-for="FaturaNo" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="FaturaTarihi" class="control-label"></label>
                <input asp-for="FaturaTarihi" class="form-control" type="date" />
                <span asp-validation-for="FaturaTarihi" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ZimmetliMi" /> @Html.DisplayNameFor(model => model.ZimmetliMi)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Notlar" class="control-label"></label>
                <input asp-for="Notlar" class="form-control" />
                <span asp-validation-for="Notlar" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Resim1" class="control-label"></label>
                <input asp-for="Resim1" class="form-control" type ="file"/>
                <span asp-validation-for="Resim1" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Resim2" class="control-label"></label>
                <input asp-for="Resim2" class="form-control" type="file" />
                <span asp-validation-for="Resim2" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Resim3" class="control-label"></label>
                <input asp-for="Resim3" class="form-control" type="file" />
                <span asp-validation-for="Resim3" class="text-danger"></span>
            </div>

            <div class="form-group mt-3 ">
                <input type="submit" value="Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

